.top{
  text-align: right;
  font-size: 12px;
}

.logo{
  width: 50px;
  height: 50px;
}

.world{ 
  position: absolute; 
  left: 250px;
  top: 50px;
  margin-top: 0px;
  font-size: 15px;
  word-spacing: 1em;
} 

.search{
  position: absolute; 
  left: 900px;
  top: 40px;
  margin-top: 0px;
  font-size: 15px;
  color: #c4bfbf;
  border: 1px solid #6e6b6b;
  width: 290px;
  height: 25px;
  padding-top: 5px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 0.2em;
}

.su{
  position: absolute;
  left: 1280px;
  top: 40px;
  font-size: 15px;
  border-left: 1px solid #6e6b6b;
  padding-left: 10px;
  border-right: 1px solid #6e6b6b;
  padding-right: 10px;
}

.my{
  position: absolute;
  left: 1380px;
  top: 40px;
  font-size: 15px;
}

.a a:link{
position: relative;
top: 30px;
left: 440px;
font-weight: 500px;
text-decoration: none;
}

.de{
position: relative;
left:-3px;
bottom:-5px;
font-size: 15px;
color: #000;

}

.b a:link{
position: relative;
top: -25px;
left: 570px;
text-decoration: none;
}

.ph{
position: relative;
bottom: -3px;
left:-45px;
font-size: 15px;
color: #000;
}

.c a:link{
position: relative;
top: -80px;
left: 700px;
text-decoration: none;
}

.wi{
position: relative;
bottom: -2px;
left: -15px;
font-size: 15px;
color: #000;
}

.d a:link{
position: relative;
top: -135px;
left: 830px;
text-decoration: none;
}

.pl{
position: relative;
font-size: 15px;
bottom: -1px;
left: -30px;
color: #000;
}

.e a:link{ 
position: relative;
top: -190px;
left: 960px;
text-decoration: none;
}

.in{
position: relative;
font-size: 15px;
left: -9px;
color: #000;
}

.f a:link{
position: relative;
top: -245px;
left: 1090px;
text-decoration: none;
}

.pr{
position: relative;
font-size: 15px;
left: -10px;
color: #000;
}

.g a:link{
position: relative;
top: -300px;
left: 1220px;
text-decoration: none;
}

.bu{
position: relative;
font-size: 15px;
left: -10px;
color: #000;
}

.two{
list-style-type: none;
position: relative;
left: -110px;
}

.setence{
position: relative;
left: 560px;
top:-270px;
font-size: 17px;
}

.setence a:link{
text-decoration: underline;
color: #2578c7;
font-weight: bolder;
}

.middle{
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #fff;
position: relative;
top:-200px;
left: 600px;
z-index: 100;
}

.pic1{
position: relative;
z-index: 100;
width: 450px;
height:350px;
left: 200px;
top:-150px;
border-radius: 1em;
}

.bj{
max-width: 100%;
max-height: 100%;
position: relative;
top:-1800px;
}

.all{
position: relative;
z-index: 999;
color: #fff;
left: 230px;
top:40px;
font-size: 13px;
}

.toge{
position: relative;
z-index: 999;
color: #fff;
left: 230px;
top: 50px;
font-weight:bold;
font-size: 20px;
}

.save{
position: relative;
z-index: 999;
color: #fff;
left: 230px;
top:60px;
font-size: 15px;
}

.mo{
position: relative;
z-index: 999;
color: #fff;
left: 230px;
top: 80px;
font-size:10px;
}

.together{
position: relative;
top:-180px;
}

.off{
text-decoration: underline;
color: #fff;
}

.shop{
position: relative;
z-index: 999;
left: 230px;
top:100px;
font-size: 15px;
border:1px solid #fff;
border-radius: 50px; 
color: #094e8f;
font-weight: bold;
width: 180px;
height: 45px;
text-align:center;
background-color: #fff;

}

.att{
position: relative;
top:12px;
}

.ip1{
position: relative;
z-index: 100;
width: 350px;
height:350px;
left: 680px;
top: -685px;
border-radius: 1em;
}

.sanx{
position: relative;
}

.learn{
position: relative;
z-index: 999;
top:-1020px;
left: 700px;
color: #505050;
font-size: 13px;
}

.sam{
position: relative;
z-index: 999;
top:-1010px;
left: 700px;
color: #000;
font-size: 20px;
font-weight: bold;
}

.with{
position: relative;
z-index: 999;
top:-990px;
left: 700px;
color: #505050;
font-size: 15px;
}

.details{
position: relative;
z-index: 999;
top:-980px;
left: 700px;
color: #505050;
font-size: 10px;
text-decoration: underline;
}

.now{
position: relative;
z-index: 999;
top:-960px;
left: 705px;
color: #fff;
font-weight: bold;
width: 140px;
height: 45px;
text-align:center;
border:1px solid #094e8f;
border-radius: 50px; 
background-color: #094e8f;
font-size: 15px;
}

.xianz{
position: relative;
top:12px;
}

.ip2{
position: relative;
z-index: 100;
width: 350px;
height:350px;
left: 1060px;
top: -1190px;
border-radius: 1em;
}

.gets{
position: relative;
z-index: 999;
top:-1525px;
left: 1085px;
color: #505050;
font-size: 13px;
}

.onus{
position: relative;
z-index: 999;
top:-1515px;
left: 1085px;
color: #000;
font-size: 20px;
font-weight: bold;
}

.elig{
position: relative;
z-index: 999;
top:-1500px;
left: 1085px;
color: #505050;
font-size: 15px;
}

.ltd{
position: relative;
z-index: 999;
color: #505050;
left: 1090px;
top: -1485px;
font-size:10px;
}

.nw{
position: relative;
z-index: 999;
top:-1438px;
left: 1090px;
color: #fff;
font-weight: bold;
width: 140px;
height: 45px;
text-align:center;
border:1px solid #094e8f;
border-radius: 50px; 
background-color: #094e8f;
font-size: 15px;
}

.xz{
position: relative;
top:12px;
}

.deta{
text-decoration: underline;
}

.logo{
position: relative;
top:-2555px;
left:155px;
}

.sou{
position: relative;
top:-2605px;
left: 1155px;
}

.gouwu{
position: relative;
top:-2635px;
left: 1235px;
}

.status-point {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:#6e6b6b;
  position: relative;
  left: 720px;
  top:-1930px;
  z-index: 999;
}

.status-point1 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:#6e6b6b;
  position: relative;
  left: 745px;
  top:-1951px;
  z-index: 999;
}

.tub{
position: relative;
top: -45px;
}

.status-point2 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:#6e6b6b;
  position: relative;
  left: 770px;
  top:-1972px;
  z-index: 999;
}

.status-point3 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:#6e6b6b;
  position: relative;
  left: 795px;
  top:-1993px;
  z-index: 999;
}

.dy{
position: relative;
left: 830px;
top:-2025px;
z-index: 999;
}

.cd{
position: relative;
width: 16px;
height: 15px;
top:-2990px;
left: 200px;
}

