.top{
  text-align: right;
  font-size: 12px;
}

.logo{
  width: 50px;
  height: 50px;
}

.world{ 
  position: absolute; 
  left: 250px;
  top: 50px;
  margin-top: 0px;
  font-size: 15px;
  word-spacing: 1em;
} 

.search{
  position: absolute; 
  left: 900px;
  top: 40px;
  margin-top: 0px;
  font-size: 15px;
  color: #c4bfbf;
  border: 1px solid #6e6b6b;
  width: 290px;
  height: 25px;
  padding-top: 5px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 0.2em;
}

.su{
  position: absolute;
  left: 1280px;
  top: 40px;
  font-size: 15px;
  border-left: 1px solid #6e6b6b;
  padding-left: 10px;
  border-right: 1px solid #6e6b6b;
  padding-right: 10px;
}

.my{
  position: absolute;
  left: 1380px;
  top: 40px;
  font-size: 15px;
}

.a{
position: relative;
top: 60px;
left: 440px;
font-weight: 500px;
}

.q{
/* font-size: 200px; */
position: relative;
left:0px;
bottom:-10px;
}

.b{
position: relative;
top: 5px;
left: 535px;
}

.w{
position: relative;
bottom: -30;
left:50;
}

.c{
position: relative;
top: -12px;
left: 665px;
}

.d{
position: relative;
top: -48px;
left: 795px;
}

.e{
position: relative;
top: -84px;
left: 925px;
}

.f{
position: relative;
top: -120px;
left: 1065px;
}

.g{
position: relative;
top: -156px;
left: 1185px;
}


.two{
list-style-type: none;
} 

