body {
  font:small/1.6em Verdana, Helvetica, Arial;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.guarantee {
  border: 1px dashed #fff;
  padding: 25px;
  margin: 30px;
  font:1.9em Georgia, 'Times New Roman' italic;
  color: #444444;
  background:#a7cece url(images/background.gif) no-repeat top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border: #ffffff;
  border-style: dashed;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.elixirs{
  border: thin solid #007e7e;
  width:200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  text-align: center;
  line-height: 1;
  float: right;
}

.elixirs h2{
  color: black;
}

.elixirs h3{
  color: #d12c47;
}

.cd{
  font-style: :italic;
}

.artist{
  font-weight: bold;
}

.elixirs a:link {
  color: #007e7e;
}

.elixirs a:visited {
  color: #333333;
}

.elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}

[!info]
float: right;